{"filter":false,"title":"requirements.txt","tooltip":"/nugu/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":19,"column":9},"end":{"row":19,"column":9},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1554383447646,"hash":"ad1ea1944fabb0c550f56a0ac1f490f9d7cbd57d"}